nav {
  background-color: #2c3e50;
  padding: 20px 30px;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: right;
  align-items: center;
  margin: -8px;
}

nav a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 18px;
  margin: 0 20px;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.2s ease;
}

nav a:hover {
  color: #1abc9c;
  transform: scale(1.1);
}

